VITE_GOOGLE_CLIENT_ID=506357582127-9qm6if3roo01t5rbpnqj6q1hk8cmekg6.apps.googleusercontent.com
APP_URL=http://127.0.0.1:4173
PORT=4242
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PRICE_ID=price_your_stripe_price_id
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
